.sound-button {
  width: 90px;
  height: 42px;
  border: none;
  background: #82d5f3;
  text-align: center;
  color: rgb(242, 243, 245);
  border-radius: 5px 5px 5px 5px;
  padding-bottom: 2px;
  margin-bottom: 2px;
  // cursor: pointer;
  // font-size: 20px;
  // outline: none;
  // font-size: 16px;
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // align-items: center;
}